.card-pelicula {
    background-color: #3a2b3f;
    border-radius: 12px;
    padding: 0.8rem 0.8rem 1.2rem 0.8rem;
    color: #fff;
    width: 200px;
    height: 465px;
    position: relative;
    box-shadow: 0 4px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.card-pelicula .p {
    font-size: 0.8rem;
    color: #ccc;
    line-height: 1.7rem;
    text-align: left;
    width: 100%;
    margin: 0.2rem 0 0 1rem;
    display: inline;
}

.card-pelicula h3 {
    font-size: 1.4rem;
    margin: 0.4rem 0 0.2rem;
    text-align: center;
    font-weight: 600;
}

.elh3delmodal{
    margin: 3rem;
    font-size: 1.7rem;
}

.card-pelicula h4 {
    display: inline;
}

.card-pelicula .el-ojo{
    width: 1.2rem;
    margin-bottom: -0.5em;
}

.card-pelicula:hover {
    transform: scale(1.01);
}

.card-pelicula img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.botonesCardPelicula {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    display: flex;
    gap: 0.3rem;
    z-index: 2;
}

.card-pelicula .boton .icono {
    background-color: #1e1820;
    font-size: 1.2rem;
    cursor: pointer;
}

.card-pelicula .boton {
    background-color: #1e1820;
    padding: 0.2rem;
    margin: 0;
    border: 1px solid rgb(180, 130, 176);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    transition: background-color 0.3s ease;
}

.card-pelicula .boton:hover {
    background-color: rgb(180, 130, 176);
    transform: scale(1.05);
}

*{
    box-sizing: border-box;
}

.form-editar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.4rem;
}

/* .form-editar input {
    flex: 1 1 calc(50%-1rem);
    box-sizing: border-box;
    background-color: #442b5f;
    border: none;
    border-radius: 0.4rem;
    padding: 0.4rem;
    color: #fff;
    font-size: 0.8rem;
    outline: none;
} */

.form-editar input, .form-editar select {
  box-sizing: border-box;
  width: 84px;
  font-size: 0.85rem;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #2a1f35;
  color: white;
}

.form-editar .el-input-largo{
    flex: 1 1 100%;
}

.form-editar input:focus {
    border: 1px solid #a678de;
    background-color: #503472;
}

.botones-formulario-editar {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 3px;
}

.botones-formulario-editar .boton{
    width: 35px;
    height: 35px;
    margin: 0px;
    padding: 0.4rem;
}
