.boton {
    background-color: #2a2a2a;
    border: none;
    padding: 0.6rem;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.boton:hover{
    background-color: #3a3a3a;
    transform: scale(1.05);
}

.boton.active {
    background-color: #f0f0f0;
    color: rgb(0, 0, 0);
    border-color: #ffffff;
    transform: scale(1.05);}

