.gato-contador img {
    position: absolute;
    top: -53px;
    left: 80%;
    transform: rotate(-13deg);
    width: 125px;
    z-index: 100;
}

.gato-contador img:hover {
    cursor: pointer;
}

.gato-dialogo {
    position: absolute;
    width: 230px;
    overflow: hidden;
    transform: translate(243%, -180%);
}

.gato-dialogo img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 100;
}

.gato-dialogo-text {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 145px;
    max-width: 145px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: #151116;
    pointer-events: none;
    z-index: 101;
    word-wrap: break-word;
    line-height: 1rem;
}