.gato-contador img {
    position: absolute;
    top: -53px;
    left: 80%;
    transform: rotate(-13deg); /* center and rotate */
    width: 125px; /* a6djust size to fit well */
    z-index:100;
}

.gato-contador img:hover {
    cursor: pointer;
}

.gato-dialogo img{
    width: 210px;
    z-index: 100; /* higher than the image */
}

.gato-dialogo{
    position: absolute;
    top: -130px;
    left: 88%
}

.gato-dialogo-text {
    position: absolute;
    top: 28px;
    left: 32px;
    width: 145px;
    max-width: 145px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: #000;
    pointer-events: none;
    z-index: 101;
    word-wrap: break-word;
    line-height: 1.1rem;
}

